@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* 
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%) */
:root {
    --primary-light-red: hsla(0, 100%, 67%, 0.064);
    --primary-orangey-yellow: hsla(39, 100%, 56%, 0.064);
    --primary-green-teal: hsla(166, 100%, 37%, 0.064);
    --primary-cobalt-blue: hsla(234, 85%, 45%, 0.064);
    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsl(256, 72%, 46%);
    --gradient-persian-blue: hsl(241, 72%, 46%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);

    --gradient-primary: linear-gradient(
        var(--gradient-light-slate-blue),
        var(--gradient-light-royal-blue)
    );

    --gradient-to-transparent: linear-gradient(
        var(--gradient-violet-blue),
        hsl(241, 72%, 46%, 0)
    );
}

html {
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    min-height: 100svh;
    height: 100svh;
    width: 100%;

    background: var(--neutral-pale-blue);
}

main {
    display: grid;
    width: 55rem;
    height: 40rem;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    
    background: var(--neutral-white);
}

@media (min-width: 600px) {
   body {
        display: grid;
        grid-template-rows: 100% 10px;
        place-items: center;
        padding-block: 1rem;
   } 

   main { 
    grid-template-columns: 1fr 1fr; 
    }

    main > div {
        height: 100%;
        border-radius: 15px;
        padding-top: 4rem;
        height: 100%;
    }
}

main > div {
    border-radius: 15px;
    padding-top: 4rem;
}

.result {
    display: grid;
    align-content: start;
    gap: 2rem;
    place-items: center;
    background: var(--gradient-primary);

    text-align: center;
    color: var(--neutral-white);
}

.result h3 {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgba(255,255,255,0.6);
}

.result .summary-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background: var(--gradient-to-transparent);
    
}

.result .summary-result h1 {
    font-size: 3.5rem;
}

.summary-result span {
    font-size: 1.2rem;
    color: rgba(255,255,255,0.6);
}

.result h2 {
    font-size: 2.5rem;
} 

.result p {
    font-size: 1.4rem;
    width: 65%;
    color: rgba(255,255,255,0.6);
}

.attribution {
    align-self: flex-end;
}

.summary {
    display: grid;
    align-content: start;
    gap: 1.5rem;

    padding-inline: 3rem;
    padding-bottom: 0;
    
}

.summary h3 {
    font-size: 1.8rem;

}

.summary .score-box {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 20px;

    padding-block: 1.2rem;
    padding-inline: 1rem;
    border-radius: 8px;


    font-size: 1.1rem;
    font-weight: 700;
}

.summary .score-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    align-self: center;
}

.summary .score-box .icon img {
    height: 15px;
}

.summary .summary-item {
    margin-left: .5rem;
}

.summary .score-box:nth-child(2) {
    background-color: var(--primary-light-red);
    color: hsl(0, 100%, 67%);

}

.summary .score-box:nth-child(3) {
    background-color: var(--primary-orangey-yellow);
    color: hsl(39, 100%, 56%);
}

.summary .score-box:nth-child(4) {
    background-color: var(--primary-green-teal);
    color: hsl(166, 100%, 37%);
}

.summary .score-box:nth-child(5) {
    background-color: var(--primary-cobalt-blue);
    color: hsl(234, 85%, 45%);
    margin-bottom: 2rem;
}

.summary .score-box .score {
    display: flex;
    justify-self: flex-end;
    gap: .4rem;

    font-size: 1.2rem;
    font-weight: 700;
    color: hsla(228, 26%, 19%, 0.48)
}

.out-of-hundred {
    color: hsl(228, 26%, 19%);
}

.summary .send-score {
    display: block;
    padding: 1rem 2rem;
    border-radius: 20px;
    background: var(--neutral-dark-gray-blue);
    color: white;
    cursor: pointer;
}

.summary .send-score:hover, 
.summary .send-score:focus-visible {
    background: var(--gradient-primary);
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    main > div {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 0;

    }

    .result {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        align-content: center;
        padding-bottom: max(2rem, 1vh);
        gap: 1rem;
    }

    .result h3 {
        font-size: max(4.18vw, 2.3rem);
    }

    .result .summary-result h1 {
        font-size: max(4.18vw, 4rem);
    }

    .result p {
        font-size: min(4.18vw, 2rem);
        width: max(70%, 268px);
    }

    .result .summary-result {
        width: max(15rem, 40%);
    }

    .summary {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        gap: 2.5vh;
        padding-bottom: 1rem;
    }

    .summary h3 {
        font-size: max(4.18vw, 2.3rem);
    }

    .summary .score-box {
        padding-block: max(3vw, min(3vh, 1rem));
        font-size: max(3.5vw, 1.34rem);
    }

    .summary .score-box .score {
        font-size: max(3.2vw, 1.34rem);;
    }

    .attribution {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        font-size: 1.2vh;

    }

    .summary .send-score {
        padding-block: 1.5rem;
    }
}