/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap'); */

@font-face {
    font-family: "HankenGrotesk";
    font-display: swap;
    font-weight: 100 900;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

:root {
    --primary-light-red: hsla(0, 100%, 67%, 0.064);
    --primary-orangey-yellow: hsla(39, 100%, 56%, 0.064);
    --primary-green-teal: hsla(166, 100%, 37%, 0.064);
    --primary-cobalt-blue: hsla(234, 85%, 45%, 0.064);
    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsl(256, 72%, 46%);
    --gradient-persian-blue: hsl(241, 72%, 46%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);

    --gradient-primary: linear-gradient(
        var(--gradient-light-slate-blue),
        var(--gradient-light-royal-blue)
    );

    --gradient-to-transparent: linear-gradient(
        var(--gradient-violet-blue),
        hsl(241, 72%, 46%, 0)
    );
}

html {
    font-family: 'Hanken Grotesk', sans-serif;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    min-height: 100svh;
    width: 100%;

}

main {
    background: var(--neutral-white);
}

@media (width > 37.5rem) {
   body {
        display: grid;
        grid-template-rows: 100% 10px;
        place-items: center;
        padding-block: 1rem;
        background: var(--neutral-pale-blue);
   } 

   main { 
        grid-template-columns: 1fr 1fr; 
        display: grid;
        max-width: 34.375rem;
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    }

    main > div {
        border-radius: 15px;
        padding-block: 2rem;
    }

    .result { 
        padding-inline: 2.4rem;
        gap: 1rem;
    }

    .summary {
        justify-content: space-between;
        padding-inline: 1.5rem;
    }
}

.result {
    display: grid;
    align-content: center;
    place-items: center;
    text-align: center;
    color: var(--neutral-white);
    background: var(--gradient-primary);
}

.result .summary-result {
    display: grid;
    align-content: center;
    width: 9rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background: var(--gradient-to-transparent);
    
}

.result .summary-result p {
    width: 100%;
    font-size: 3rem;
    font-weight: 800;

    color: #fff;

    line-height: 1;
}

.summary-result p:last-child {
    font-size: .8rem;
    font-weight: 300;
    color: rgba(255,255,255,0.6);
}

.result h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255,255,255,0.6);
} 

.result h3 {
    font-size: 1.8rem;
    font-weight: 300;
}

.scored-msg {
    font-size: .9rem;
    color: rgba(255,255,255,0.6);
    max-width: 12.8rem;
}

.attribution {
    align-self: flex-end;
}

.summary {
    display: flex;
    flex-direction: column;

    
}

.summary h2 {
    font-size: 1.1rem;

}

.summary .summary-items-list {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.summary .score-box {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 20px;

    padding-block: .7rem;
    padding-inline: 1rem;
    border-radius: 8px;


    font-size: .8rem;
    font-weight: 700;
}

.summary .score-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.summary .score-box .icon img {
    width: 1rem;
}

.summary .summary-item {
    margin-left: .3rem;
}

.summary .score-box:nth-child(1) {
    background-color: var(--primary-light-red);
    color: hsl(0, 100%, 67%);

}

.summary .score-box:nth-child(2) {
    background-color: var(--primary-orangey-yellow);
    color: hsl(39, 100%, 56%);
}

.summary .score-box:nth-child(3) {
    background-color: var(--primary-green-teal);
    color: hsl(166, 100%, 37%);
}

.summary .score-box:nth-child(4) {
    background-color: var(--primary-cobalt-blue);
    color: hsl(234, 85%, 45%);
}

.summary .score-box .score {
    display: flex;
    justify-self: flex-end;
    gap: .4rem;

    font-size: .8rem;
    font-weight: 700;
    color: hsla(228, 26%, 19%, 0.48)
}

.out-of-hundred {
    color: hsl(228, 26%, 19%);
}

.summary .send-score {
    display: block;
    padding-block: .7rem;
    border-radius: 100vw;
    background: var(--neutral-dark-gray-blue);
    color: white;
    cursor: pointer;

    
}

.summary .send-score:hover, 
.summary .send-score:focus-visible {
    background: var(--gradient-primary);
}

@media (width < 37.5rem) {
    main {
        display: flex;
        flex-direction: column;
        min-height: 98vh;
    }

    main > div {
        padding-top: 0;

    }

    .result {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        gap: 1rem;
        padding-block: 2rem;

        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .result .summary-result {
        width: 7.81rem;
    }

    .summary {
        display: flex;
        flex: 1;
        padding: 1.2rem 1rem 1rem 1rem;
        gap: 1.5rem;
    }

    .summary .summary-items-list {
        gap: 2rem;
    }

    .summary .score-box {
        gap: 1rem;
        font-size: 1rem;
        padding-block: 1rem;
    }

    .summary .score-box .icon img {
        display: block;
        width: 2rem;
    }

    .summary .score {
        font-size: 1rem;
    }

    .summary .send-score {
        padding-block: 1.2rem;
        font-size: 1rem;
        font-weight: 700;
    }
}